@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// GLOBAL 

body { 
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 100%, 74%);
    background-image: url(../images/bg-intro-mobile.png); // not loading? 
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0 20px;
    // height: 100svh;
}

strong { 
    font-weight: 600;
}

input { 
    font: inherit; 
}

// END OF GLOBAL 

.title { 
    font-size: 1.8em;
    line-height: 140%;
    font-weight: 700;
    margin-top: 100px;
}

.subheading { 
    font-size: 1em; 
    font-weight: 500; 
    line-height: 160%;
    margin: 20px 10px 50px 10px;
}

.try-it { 
    background-color: hsl(248, 32%, 49%);
    border-radius: 12px;
    padding: 15px 50px;
    font-size: 1em;
    font-weight: 400;
    line-height: 180%;
    // box-shadow
}

.form { 
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-flow: column; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 20px;
    // box-shadow 
}

input { 
    width: 100%;
    margin: 7px;
    padding: 15px 20px;
    font-size: 0.9em;
    font-weight: 600;
    border: solid 1px hsl(246, 25%, 77%, 70%);
    border-radius: 5px;
    color: hsl(0, 100%, 74%);
}

input.input-error { // this specificity is important 
    // display: none;
    border: solid 2px hsl(0, 100%, 74%);
    background-image: url(../images/icon-error.svg); 
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 7%; // I might not need this 
}

#submit { 
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    font-kerning: normal;
    padding: 15px 20px;
}

#submit:hover { 
    opacity: 70%; 
    cursor: pointer;
}

.terms { 
    color: hsl(246, 25%, 77%);
    font-size: 0.7em;
    font-weight: 500;
    padding: 0 30px;
    line-height: 180%;

    strong { 
        color: hsl(0, 100%, 74%);
    }
}

footer { 
    margin: 20px;
}

// FOCUS STATES 

.error { 
    color: hsl(0, 100%, 74%); 
    font-style: italic;
    font-size: 0.7em;
    display: none;
    text-align: left;
    align-self: flex-end; // well done 
    font-weight: 500;
}

.error.visible { 
    display: inline-block;
}


